@import "dimensions";

.container {
  flex: 1;
  float: left;
  height: 100%;
  min-height: max-content;
  overflow: auto;
  padding-top: 50px;
}

.drag * {
  pointer-events: none;
}

.title {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  color: white;
  display: flex;
  font-weight: normal;
  justify-content: space-between;
  margin: 0;
  padding: 15px 7%;
  text-align: center;
}

.titleLeft {
  align-items: center;
  display: flex;
}

@media (max-width: $mobile-breakpoint) {
  .container {
    height: auto;
    width: 100%;
  }

  .container:first-child {
    padding-top: 50px;
  }

  .container {
    padding-top: 0;
  }
}
