.title {
  font-weight: bold;
  text-align: center;
}

.container {
  background-color: #eeeeee;
  float: left;
  min-height: max-content;
  padding-top: 50px;
  width: 350px;
  margin-left: 10px;
  position: fixed;
  overflow: auto;
  height: 100%;
}
